In [ ]:
import pandas as pd
df_fg = pd.read_csv("../csv/fear_greed_index.csv")

df_fg.columns = [c.strip() for c in df_fg.columns]
date_col = df_fg.columns[0]

In [4]:
df_fg.head()

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [5]:
df_fg.isnull().sum()

timestamp         0
value             0
classification    0
date              0
dtype: int64

In [6]:

df_fg[date_col] = pd.to_datetime(df_fg[date_col], errors='coerce')
df_fg = df_fg.rename(columns={date_col: "Date"})

In [7]:
df_fg

                              Date  value classification        date
0    1970-01-01 00:00:01.517463000     30           Fear  2018-02-01
1    1970-01-01 00:00:01.517549400     15   Extreme Fear  2018-02-02
2    1970-01-01 00:00:01.517635800     40           Fear  2018-02-03
3    1970-01-01 00:00:01.517722200     24   Extreme Fear  2018-02-04
4    1970-01-01 00:00:01.517808600     11   Extreme Fear  2018-02-05
...                            ...    ...            ...         ...
2639 1970-01-01 00:00:01.745818200     54        Neutral  2025-04-28
2640 1970-01-01 00:00:01.745904600     60          Greed  2025-04-29
2641 1970-01-01 00:00:01.745991000     56          Greed  2025-04-30
2642 1970-01-01 00:00:01.746077400     53        Neutral  2025-05-01
2643 1970-01-01 00:00:01.746163800     67          Greed  2025-05-02

[2644 rows x 4 columns]

In [8]:
df_fg.shape

(2644, 4)

In [9]:
if 'Score' not in df_fg.columns:
    score_col = [c for c in df_fg.columns if c.lower() not in ('date', 'classification')]
    if score_col:
        df_fg['Score'] = pd.to_numeric(df_fg[score_col[0]], errors='coerce')

In [10]:
if 'Classification' not in df_fg.columns and 'Score' in df_fg.columns:
    def label(s):
        if s < 25: return "Extreme Fear"
        elif s < 40: return "Fear"
        elif s < 60: return "Neutral"
        elif s < 75: return "Greed"
        else: return "Extreme Greed"
    df_fg['Classification'] = df_fg['Score'].apply(label)

In [11]:
df_fg = df_fg[['Date', 'Score', 'Classification']].dropna(subset=['Date'])

In [12]:
df_tr = pd.read_csv("../csv/historical_data (1).csv")

In [13]:
df_tr

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211219,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,382.20,420.80,SELL,25-04-2025 15:35,7546.600000,Close Long,-20.2566,0xcd339c08dc7b615a993c0422374d8e02027400092bc2...,88803313862,False,0.042080,1.990000e+14,1.750000e+12
211220,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,2124.10,2338.63,SELL,25-04-2025 15:35,7164.400000,Close Long,-112.5773,0x29e8ede2a3a37aa0eac00422374d8e02029b00ac9f3c...,88803313862,False,0.233863,9.260000e+14,1.750000e+12
211221,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,423.40,466.16,SELL,25-04-2025 15:35,5040.300000,Close Long,-22.4402,0x0780085b0c0a943eea800422374d920204c100edf579...,88803313862,False,0.046616,6.930000e+14,1.750000e+12
211222,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,3599.80,3963.38,SELL,25-04-2025 15:35,4616.900000,Close Long,-190.7894,0x349c29934913b25c89e20422374d920204cd008b8a0e...,88803313862,False,0.396337,4.180000e+14,1.750000e+12
211223,0x72743ae2822edd658c0c50608fd7c5c501b2afbd,FARTCOIN,1.1010,1017.10,1119.83,SELL,25-04-2025 15:35,1017.100000,Close Long,-53.9063,0xac77fab973c455d77a670422374d9602039800f1f78c...,88803313862,False,0.111982,3.270000e+14,1.750000e+12

In [16]:
# ...existing code...
for col in df_tr.columns:
    print(f"{col}: {df_tr[col].unique()}")
# ...existing

Account: ['0xae5eacaf9c6b9111fd53034a602c192a04e082ed'
 '0x72c6a4624e1dffa724e6d00d64ceae698af892a0'
 '0x513b8629fe877bb581bf244e326a047b249c4ff1'
 '0x083384f897ee0f19899168e3b1bec365f52a9012'
 '0x430f09841d65beb3f27765503d0f850b8bce7713'
 '0x8381e6d82f1affd39a336e143e081ef7620a3b7f'
 '0x4f93fead39b70a1824f981a54d4e55b278e9f760'
 '0x75f7eeb85dc639d5e99c78f95393aa9a5f1170d4'
 '0x420ab45e0bd8863569a5efbb9c05d91f40624641'
 '0xb1231a4a2dd02f2276fa3c5e2a2f3436e6bfed23'
 '0x23e7a7f8d14b550961925fbfdaa92f5d195ba5bd'
 '0x6d6a4b953f202f8df5bed40692e7fd865318264a'
 '0xbaaaf6571ab7d571043ff1e313a9609a10637864'
 '0xaf40fdc468c30116bd3307bcbf4a451a7ebf1deb'
 '0x3998f134d6aaa2b6a5f723806d00fd2bbbbce891'
 '0xa0feb3725a9335f49874d7cd8eaad6be45b27416'
 '0x8477e447846c758f5a675856001ea72298fd9cb5'
 '0x8170715b3b381dffb7062c0298972d4727a0a63b'
 '0x47add9a56df66b524d5e2c1993a43cde53b6ed85'
 '0x3f9a0aadc7f04a7c9d75dc1b5a6ddd6e36486cf6'
 '0x28736f43f1e871e6aa8b1148d38d4994275d72c4'
 '0x39cef799f8b69da1995852eea189df24eb5cae3c'
 '0x7f4f299f74eec87806a830e3caa9afa5f2b9db8f'
 '0xa520ded057a32086c40e7dd6ed4eb8efb82c00e0'
 '0xb899e522b5715391ae1d4f137653e7906c5e2115'
 '0x2c229d22b100a7beb69122eed721cee9b24011dd'
 '0xbee1707d6b44d4d52bfe19e41f8a828645437aab'
 '0x4acb90e786d897ecffb614dc822eb231b4ffb9f4'
 '0x92f17e8d81a944691c10e753af1b1baae1a2cd0d'
 '0xbd5fead7180a9c139fa51a103cb6a2ce86ddb5c3'
 '0x271b280974205ca63b716753467d5a371de622ab'
 '0x72743ae2822edd658c0c50608fd7c5c501b2afbd']
Coin: ['@107' 'AAVE' 'DYDX' 'AIXBT' 'GMX' 'EIGEN' 'HYPE' 'SOL' 'SUI' 'DOGE'
 'ETH' 'kPEPE' 'TRUMP' 'ONDO' 'ENA' 'LINK' 'XRP' 'S' 'BNB' 'BERA' 'WIF'
 'LAYER' 'MKR' 'KAITO' 'IP' 'JUP' 'USUAL' 'ADA' 'BTC' 'PURR/USDC' 'ZRO'
 '@7' '@19' '@21' '@44' '@48' '@11' '@15' '@46' '@61' '@28' '@45' '@9'
 '@41' '@38' 'kSHIB' 'GRASS' 'TAO' 'AVAX' '@2' '@6' '@8' '@10' '@12' '@16'
 '@17' '@35' '@26' '@24' '@32' '@29' '@31' '@33' '@34' '@36' '@37' '@47'
 '@53' '@74' 'RUNE' 'CANTO' 'NTRN' 'BLUR' 'ZETA' 'MINA' 'MANTA' 'RNDR'
 'WLD' 'kBONK' 'ALT' 'INJ' 'STG' 'ZEN' 'MAVIA' 'PIXEL' 'ILV' 'FET' 'STRK'
 'CAKE' 'STX' 'ACE' 'PENDLE' 'AR' 'XAI' 'APE' 'MEME' 'NEAR' 'SEI' 'FTM'
 'MYRO' 'BIGTIME' 'IMX' 'BADGER' 'POLYX' 'OP' 'TNSR' 'MAV' 'TIA' 'MERL'
 'TON' 'PURR' 'ME' 'CRV' 'BRETT' 'CHILLGUY' 'MOODENG' 'VIRTUAL' 'COMP'
 'FARTCOIN' 'AI16Z' 'GRIFFAIN' 'ZEREBRO' 'SPX' 'MELANIA' 'PENGU' 'JELLY'
 'VVV' 'VINE' 'TST' 'ARK' 'YGG' 'POPCAT' 'NIL' 'MOVE' 'BABY' 'RENDER'
 'PROMPT' 'WCT' 'OGN' 'HYPER' 'ZORA' 'BIO' 'INIT' 'TURBO' 'ARB' '@142'
 'JTO' 'PYTH' 'MATIC' 'HPOS' 'FXS' 'FIL' 'SHIA' 'PEOPLE' 'UNI' 'SUSHI'
 'LOOM' 'USTC' 'RLB' 'ETC' 'GAS' 'BANANA' 'UNIBOT' 'CYBER' 'GMT' 'ENS'
 'DYM' 'ETHFI' '@4' '@3' '@20' '@14' '@51' '@125' '@109' '@85' '@59' '@23'
 '@78' 'GOAT' 'LDO' 'PNUT' '@138' '@151' '@18' '@25' '@42' '@13' '@40'
 '@39' '@30' '@103' '@100' '@135' '@116' '@147' '@152' '@153' 'ANIME' 'W'
 'ORDI' 'IO' 'GALA' 'AI' 'NEIROETH' 'SAND' 'BOME' 'MEW' 'SUPER' 'ALGO'
 'HBAR' 'APT' 'BLAST' 'kNEIRO' 'ATOM' 'DOT' 'kFLOKI' 'TRX' 'FTT' '@1'
 '@83' '@124' '@112' '@95' 'LISTA' 'LTC' 'RSR' 'MNT' '@113' 'ZK' '@117'
 '@86' '@68' '@63' 'MORPHO' 'OM' 'REZ' 'REQ' '@49' 'BNT' 'SCR' 'IOTA'
 '@93' '@114' '@123' 'PAXG']
Execution Price: [7.9769 7.98   7.9855 ... 1.161  1.154  1.101 ]
Size Tokens: [ 986.87   16.    144.09 ...  382.2  2124.1  1017.1 ]
Size USD: [7872.16  127.68 1150.63 ... 2338.63  466.16 1119.83]
Side: ['BUY' 'SELL']
Timestamp IST: ['02-12-2024 22:50' '02-12-2024 22:51' '02-12-2024 22:54' ...
 '24-04-2025 17:33' '24-04-2025 17:34' '25-04-2025 15:35']
Start Position: [   0.         986.5245955 1002.518996  ... 5040.3       4616.9
 1017.1      ]
Direction: ['Buy' 'Sell' 'Open Long' 'Close Long' 'Spot Dust Conversion' 'Open Short'
 'Close Short' 'Long > Short' 'Short > Long' 'Auto-Deleveraging'
 'Liquidated Isolated Short' 'Settlement']
Closed PnL: [   0.       3008.231185   30.741534 ... -112.5773    -22.4402
  -53.9063  ]
Transaction Hash: ['0xec09451986a1874e3a980418412fcd0201f500c95bac0f37caef8a734502ec49'
 '0x21b8b230ad8a3e9ae1bb041841332f02028300681b0dd484959026f37947df17'
 '0xef8b5ed662586d4455030418413ecd01f3009832c599baba9307c5e77a0a81f3' ...
 '0x0780085b0c0a943eea800422374d920204c100edf57920b301001a1ef729e674'
 '0x349c29934913b25c89e20422374d920204cd008b8a0e4170e03ec463010af3c4'
 '0xac77fab973c455d77a670422374d9602039800f1f78c7c3123205e2b7af37374']
Order ID: [52017706630 52018049026 52019096364 ... 88499219447 88566548927
 88803313862]
Crossed: [ True False]
Fee: [0.34540448 0.0056     0.0504314  ... 0.117168   0.04208    0.233863  ]
Trade ID: [8.95e+14 4.43e+14 6.60e+14 ... 2.40e+12 3.51e+11 6.54e+12]
Timestamp: [1.73e+12 1.74e+12 1.75e+12 1.71e+12 1.72e+12 1.70e+12 1.68e+12]

In [17]:
df_tr["Account"].is_unique

False

In [ ]:

print(df_tr["Account"].apply(type).unique())

[<class 'str'>]

In [22]:
df_tr['Timestamp IST'] = pd.to_datetime(df_tr['Timestamp IST'], errors='coerce', dayfirst=True)
df_tr['Date'] = df_tr['Timestamp IST'].dt.floor('d')

In [23]:
df_tr['Size USD'] = pd.to_numeric(df_tr['Size USD'], errors='coerce')
df_tr['Closed PnL'] = pd.to_numeric(df_tr['Closed PnL'], errors='coerce')

In [24]:
daily_tr = df_tr.groupby('Date').agg(
    trades_count=('Account', 'count'),
    total_volume_usd=('Size USD', 'sum'),
    avg_closed_pnl=('Closed PnL', 'mean'),
    positive_trades=('Closed PnL', lambda x: (x > 0).sum())
).reset_index()
daily_tr['win_rate'] = daily_tr['positive_trades'] / daily_tr['trades_count']

In [26]:
df_merge = pd.merge(df_fg, daily_tr, on='Date', how='left')

# Save combined CSV
merged_path = "../csv/merged_fg_trader.csv"
df_merge.to_csv(merged_path, index=False)
merged_path

'../csv/merged_fg_trader.csv'